@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel

<header>
</header>

@foreach (var x in Model.Books)
{
<div>
    <h4>@x.Title</h4>
    <h5>Bookid: @x.Bookid</h5>
    <h5>Author: @x.Author</h5>
    <h5>Publisher: @x.Publisher</h5>
    <h5>ISBN: @x.ISBN</h5>
    <h5>Category: @x.Category</h5>
    <h5>Price: @x.Price</h5>
</div>
<br />
}

<div page-model="@Model.PagingInfo" page-action="Index"
     page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-select="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"> </div>